.qr-code {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}