/*  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> 
  Add hover and adjust width and media queries */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 90%;
    max-width: 300px;
    box-shadow: black 10px 10px;
    padding: 1rem;
    gap: 1rem
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    /* Add padding and margins later */
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.tag-container {
    margin-right: auto;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;;
}

.tag-container div {
    font-size: 0.9rem;
    font-weight: 800;
}

.publish-date {
    margin-right: auto;
    font-size: 500;
    color: hsl(0, 0%, 7%);
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}

.description {
    font-size: 1rem;
    text-align: left;
    color: hsl(0, 0%, 42%)
}

.author-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 0.5rem;
    font-weight: 800;
}